html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("Grid.png");
  background-size: cover;        
  background-position: center;  
  background-repeat: no-repeat; 
  min-height: 100vh;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  
  display: flex;
  flex-direction: column;
  align-items: center
}


nav{
    background: rgb(142, 212, 235);
    height: 80px;
    width: 100%;
    margin-bottom: 100px;
    box-shadow:  0px 4px 12px rgba(0,0,0,0.15);
}

.logo img {
  height: 60px;      
  margin-left: 60px; 
  vertical-align: middle;
  margin-top: 15px;
}


nav ul{
    float: right;
    margin-right: 20x;
    font-size: 17px;
}

nav ul li{
display: inline-block;
line-height: 80px;
margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    font-weight: 700;
    padding: 5px 20px;
    border-radius: 7px;
    text-transform: uppercase;
    border: 1px solid transparent;
    transition: 0.5 ease;
}

ul li a.active{
  background-color: rgb(105, 66, 66) ;
  color: white;
  text-transform: uppercase;
}

ul li a:hover:not(.active){
background-color: pink;
color: white;
text-transform: uppercase;
}

/* cat icon */
.nav-item {
position: relative;
}

.cat{ 
width: 55px;  
position: absolute;
top: 22px;                
left: 50%;
transform: translateX(-50%) translateY(20px) scale(0.8);
opacity: 0;
transition: 0.35s ease;
pointer-events: none;     
}

.nav-item:hover .cat{
transform: translateX(-50%) translateY(-35px) scale(1);
opacity: 1;
}

/*quiz-mode*/
.quiz-mode{
  background: #fff;
  width: 90%;
  height: 60%;
  justify-content: center;
  max-width: 600px;
  margin: 40px auto 0;
  border-radius: 10px;
  padding: 30px;
}

.quiz-mode h1{
  font-size: 32px;
  font-weight: 700;
  color: #001e4d;
  border-bottom: 1px solid #333;
  padding-bottom: 20px;
}

.test h2{
  font-size: 24px;
  font-weight: 600;
}

#answer-buttons{
  display: flex;
  flex-direction: column;   
  gap: 12px;
  margin-top: 20px;
  width: 100%;
}

.btn{
  background: #fff;
  font-weight: bold;
  border: 1px solid #222;
  width: 100%;
  box-sizing: border-box;
  padding: 14px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  transition: all 0.25 ease;
}

.btn:hover{
background: lightblue;
color: #fff;
}

.btn:disabled{
cursor: no-drop;
}

#next-button{
background: #001e4d;
color: #fff;
font-weight: 500;
width: 40%;
min-width: 120px;
border: 0;
padding: 10px;
margin: 20px auto 0;
border-radius: 4px;
cursor: pointer;
display: block;
transition:all 0.25 ease;
}

.correct{
background: #9aeabc;
}

.incorrect{
background: #ff9393;
}

@media (max-width:768px){
  .quiz-mode{
    width: 95%;
    padding: 20px;
  }
  .test h2{
    font-size: 20px;
  }
  .quiz-mode h1 {
    font-size: 28px;
  }
}

@media (max-width:480px){
  .test h2{
    font-size: 18px;
  }
  #next-button{
    width: 80%;
  }
}