html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-image: url("Grid.png");
    background-size: cover;        
    background-position: center;  
    background-repeat: no-repeat; 
    min-height: 100vh;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    
    display: flex;
    flex-direction: column;
    align-items: center
  }
  
  
  nav{
      background: rgb(142, 212, 235);
      height: 80px;
      width: 100%;
      margin-bottom: 100px;
      box-shadow:  0px 4px 12px rgba(0,0,0,0.15);
  }
  
  .logo img {
    height: 60px;      
    margin-left: 60px; 
    vertical-align: middle;
    margin-top: 15px;
  }
  
  
  nav ul{
      float: right;
      margin-right: 20x;
      font-size: 17px;
  }
  
  nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  }
  
  nav ul li a{
      color: white;
      font-size: 17px;
      font-weight: 700;
      padding: 5px 20px;
      border-radius: 7px;
      text-transform: uppercase;
      border: 1px solid transparent;
      transition: 0.5 ease;
  }
  
  ul li a.active{
    background-color: rgb(105, 66, 66) ;
    color: white;
    text-transform: uppercase;
}

ul li a:hover:not(.active){
  background-color: pink;
  color: white;
  text-transform: uppercase;
}


   /* cat icon */
  .nav-item {
    position: relative;
  }
  
  .cat{ 
    width: 55px;  
    position: absolute;
    top: 22px;                
    left: 50%;
    transform: translateX(-50%) translateY(20px) scale(0.8);
    opacity: 0;
    transition: 0.35s ease;
    pointer-events: none;     
  }
  
  .nav-item:hover .cat{
    transform: translateX(-50%) translateY(-35px) scale(1);
    opacity: 1;
  }

  /* slide */
  .container {
    text-align: center;
    margin-top: 80px;
}

.card-wrapper {
    width: 700px;
    height: 450px;
    perspective: 1000px;
    margin: 0 auto 40px auto;
    align-items: center;
}

.flashcard {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.flashcard.is-flipped {
    transform: rotateY(180deg);
}

.flashcard .front,
.flashcard .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

    background: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 40px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.flashcard .back {
    transform: rotateY(180deg);
    color: #333;
}

.controls button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
    margin-top: 40px;
    background-color: lightblue;
}
